/*body web two*/
#bdtwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1300px;
}
.twotop{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(2, 2, 115, 0.8);
    font-size: 45px;
    margin-bottom: 45px;
}
.twobottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.two{
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}
.twotext{
    color: rgba(2, 2, 115, 0.8);
    font-size: 44px;
}
.twodis{
    color: rgba(2, 2, 115, 0.6);
    font-size: 18px;
}
@media only screen and (max-width: 1200px){
    #bdtwo{
        
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .twotop{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .twobottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
@media only screen and (max-width: 600px){
    #bdtwo{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .twobottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #imgtwo{
        margin-left: 60px;
    }
}