/*Body web three*/
#bdthree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 850px;
    background: linear-gradient(180deg, #0AD19F 0%, #34E39F 16.15%, #01FF98 39.58%, #6FFBA0 67.71%, rgba(1, 255, 57, 0) 100%);
}
.threeleft{
    display: flex;
}
.threeright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
}
.threetext{
    color:rgba(2, 2, 115, 0.8);
    font-size: 45px
}
.threedisone{
    color: rgba(2, 2, 115, 0.6);

}
.threedistwo{
    color: rgba(2, 2, 115, 0.6);
}
.threeopen{
    text-decoration: none;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.threea{
    color:rgba(2, 2, 115, 0.8);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgb(8, 255, 8);
    border-radius: 15px;
    padding: 10px 20px;
    background: linear-gradient(180deg, #01FF98 3.12%, #6FFBA0 49.48%, #01FF98 100%);
    border: 2px solid #0AD19F;
    box-shadow: 0px 0px 10px #01FF98;
    border-radius: 45px;    
}
@media only screen and (max-width: 1200px){
    #bdthree{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #busthree{
        width: 450px;
    }
    .threeright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        text-align: center;
        margin-bottom: 50px;
        
    }
}
@media only screen and (max-width: 600px){

}