/*bodyweb one จุ๊กๆ*/

#bdone{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.onelogo{
    background: rgba(2, 2, 115, 0.8);
    box-shadow: 0px 4px 4px rgba(3, 3, 77, 0.5);
    border-radius: 36px;
    margin-top: 150px;
    width: 100px;
    height: 100px;
}
.oneleft{
    margin-left: 150px;
    
}

.onetext{
    font-size: 42px;
    font-weight: bold;
    color: rgba(2, 2, 115, 0.8);
    margin-top: 10px;
}
.onedis{
    font-size: 20px;
    font-weight: 100;
    color: rgba(2, 2, 115, 0.6);
}
.oneos{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

}
.ios{
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: white;
    width: 150px;
    height: 60px;
    border-radius: 25px;
    padding-left: 5px;
    box-shadow: 0px 4px 4px rgba(3, 3, 77, 0.5);
    cursor: pointer;
}
.ios:hover{
    background-color: #dddddd;
}
.android{
    display: flex;
    align-items: center;
    background-color: white;
    width: 150px;
    height: 60px;
    border-radius: 25px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(3, 3, 77, 0.5);
    cursor: pointer;
}
.android:hover{
    background-color: #dddddd;
}
.oneright{
    position: static;
}
.onebus{
    position: static;
    width: 750px;
    margin-right: 0px;
    
    
}
/*
.onebus{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
*/
@media only screen and (max-width: 600px){
    *{
        margin-left: 0;
        
    }
    #bgone{
        height: 1200px;
    }
    #bdone{
        display: flex;
        flex-direction: column;
    }
    .onebus{
        justify-content: center;
        align-items: left;
        width: 450;
        /*margin-right: 100px;*/
    }
    .oneos{
        display: flex;
        flex-direction: column;
    }
    .ios{
        margin: 0;
        margin-bottom: 20px;
    }
    .oneleft{
        margin-left: 10px;
    }
    
}
@media only screen and (max-width: 1200px){
    #bdone{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .onebus{
        justify-content: left;
        align-items: left;
        width: 450px;
    }
}