/* Keyframes สำหรับการเคลื่อนที่จากบนลงล่าง */
@keyframes slideindown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Keyframes สำหรับการเคลื่อนที่จากซ้ายไปทางขวา */
@keyframes slideinleft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
    }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); 
    }
    40% {
      transform: translateY(-30px); 
      }
    60% {
      transform: translateY(-15px); 
    }
  }


    @keyframes loopFade {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes burstAndMoveRight {
      0% {
          transform: scale(0); /* Initial burst effect: scaled down to 0 */
      }
      50% {
          transform: scale(1.5); /* Burst effect: scaled up to 1.5 times its size */
      }
      100% {
          left: 100%; /* Move to the right edge */
          transform: scale(1); /* Reset the scale to normal */
      }
    }

    @keyframes grow {
      0% {
        font-size: 0;
      }
      100% {
        font-size: 40px;
      }
    }
    