#bdfive{
    padding:350px 0;
    width: 100%;
    background-color: white;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.fivetop{
    text-align: center;
    margin: 0 200px;
    color: rgba(2, 2, 115, 0.6);
    font-size: 32px;
    margin-bottom: 80px;
}
.fivebottom{
    background: rgba(5, 0, 255, 0.9);
    opacity: 0.8;
    box-shadow: 0px 5px 10px #6E7CF1;
    border-radius: 50px;
    padding: 25px 25px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.fivebottom:hover{
    transform: scale(1.1);
    background: linear-gradient(180deg, rgba(5, 0, 255, 0.9), #6E7CF1 100%);
    box-shadow: 0px 5px 10px rgba(5, 0, 255, 0.9);
}
@media only screen and (max-width:600px) {
    #bdfive{
        height: 1000px;
    }
}
@media only screen and (max-width:1440px) {
    #bdfive{
        height: 1000px;
    }
}

/*Bottom bar*/
#bdbottom{
    background: #6E7CF1;
    height: 332px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}
/*First bar*/
.botfirst{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
}
.logoapp{
    display: flex;
    flex-direction: row;
}

.playapp{
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background: rgba(3, 3, 3, 0.4);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 20px;
    filter: brightness(1.5);
}

.playlogo {
    margin-right: 10px;
    margin-top: 5px;
}

.playtop{
    font-size: 9px;
}

.playapp:hover {
    animation: loopFade 2s ease-in-out infinite;
}

.appleapp {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(3, 3, 3, 0.4);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 20px;
    filter: brightness(1.5);
}

.applelogo {
   font-size: 40px;
   margin-right: 10px;
}

.appletop {
    font-size: 9px;
}

.appleapp:hover {
    animation: loopFade 2s ease-in-out infinite;
}
/*Bar two*/
.bottwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.bothome{
    margin: 10px 0;
    font-size: 27px;
    color: white;
    text-decoration: none;
}

.botsup{
    margin: 50px 0;
    font-size: 27px;
    color: white;
    text-decoration: none;
}
/*Bar three*/
.botthree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.botjoin{
    margin: 10px 0;
    font-size: 27px;
    color: white;
    text-decoration: none;
}
.botfqa{
    margin: 50px 0;
    font-size: 27px;
    color: white;
    text-decoration: none;
}
/*Bar four*/
.botfour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.botcontact{
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
    font-size: 25px;
}

.botlogo{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.facebook {
    color: #FFFFFF;
    font-size: 45px;
    margin: -2px 5px;
}

.instagram {
    color: #FFFFFF;
    font-size: 45px;
    margin: -2px 5px;
}

.twitter {
    color: #FFFFFF;
    font-size: 45px;
    margin: -2px 5px;
}

.line {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0px 5px;
}

.facebook:hover {
    animation: bounce 2s infinite;
}

.instagram:hover {
    animation: bounce 2s infinite;
}

.twitter:hover {
    animation: bounce 2s infinite;
}

.line:hover {
    animation: bounce 2s infinite;
}

.bothome:hover, .botsup:hover
, .botjoin:hover , .botfqa:hover{
    color: #6FFBA0;
}

@media only screen and (max-width: 773px){
    /*bottom bar*/
    #bdbottom{
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    /*first bar*/
    .fivetop {
        font-size: 28px;
    }
    .botfirst{
        display: flex;
        flex-direction: column;
    }
    .logoapp{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
    .playapp{
        margin: 5px 0;
    }
    /*Bar two*/
    .bottwo{
        display: flex;
    }
    .bothome{
        font-size: 15px;
        margin: 15px 20px;
        
    }
    .botsup{
        font-size: 15px;
        margin: 15px 20px;
    }
    /*Bar three*/
    .botthree{
        display: flex;
        flex-direction: column;
    }
    .botjoin{
        font-size: 15px;
        margin: 15px 20px;
    }
    .botfqa{
        font-size: 15px;
        margin: 15px 20px;
    }
    /*Bar four*/
    .botfour{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 15px 20px;
    }

    .botlogo a:hover {
        color: #6FFBA0
    }
}


