/*------------- Page 4 !! ----------------*/

#Page4 {
    padding:200px 0;
    width: 100%;
    height: 1060px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(180deg, #0AD19F 0%, #6E7CF1 100%);
}

.station-bus {
    width: 950px;
    height: 570px;
    margin-top: 5rem;
    margin-left: 30rem;
    filter: brightness(1.1);
}

.station-bus:hover {
    animation: beat 1s infinite;
}

.text-operator {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-left: -45rem;
    margin-top: -10rem;
}

.text-operator h1 {
    color: #fff;
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin-right: 10rem;
    margin-top: -30rem;
}

.text-operator h2 {
    color: #FFF;
    font-size: 36px;
    margin-left: 46rem;
    margin-top: 2rem;
    display: flex;
}

.button-join {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    margin: 5px 50px;
    border-radius: 36px;
    background: #FF3535;
    box-shadow: 0px 5px 10px 0px #A30000;
    cursor: pointer;
    margin-top: 5rem;
    margin-right: 70rem;
    transition: all 0.3s ease-in-out;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
} 

.button-join a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    text-align: center; 
}

.button-join:hover {
    background: linear-gradient(360deg, #A30000 0%, #FF3535 52.08%);
    box-shadow: 0px 5px 10px 0px #A30000;
    transform: scale(1.05);
    filter: brightness(1.5);
    border-color: #fff9;
}

.button-join:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button-join::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }