/*-------------------- Page3 !!------------------------*/

#Page3 {
    padding: 550px 0px;
    width: 100%;
    height: 1060px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(180deg, #0AD19F, #34E39F, #01FF98, #6FFBA0, #01FF3900);
}

.bus-2 {
    display: flex;
    width: 1181px;
    height: 983px;
    margin-top: -35rem;
    animation: slideinleft 5s ease-in-out 10s forwards;
}

.text-3Dview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
}

.sub-title3D  {
    color:rgba(2, 2, 115, 0.8);
    font-size: 64px;
    margin-left: -40rem;
    margin-top: -8rem;
}

.text-explain1 {
    color: rgba(2, 2, 115, 0.6);
    margin-top: 3rem;
    margin-left: -30rem;
    font-size: 32px;
}

.text-explain2 {
    color: rgba(2, 2, 115, 0.6);
    margin-top: 3rem;
    margin-left: -30rem;
    font-size: 32px;
}

.button-open3D {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(-25rem);
}

.button-open3D a {
    font-size: 30px;
    text-decoration: none;
}

.text-open {
    color:rgba(2, 2, 115, 0.8);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 45px;
    border: 2px solid #0AD19F;
    background: rgba(1, 255, 57, 0.02);
    box-shadow: 0px 0px 10px 0px #01FF98;  
}

.text-open i {
    margin: 5px 5px;
    font-size: 22px;
    transform: translateY(-4px);
}

.text-open:hover {
    background: linear-gradient(180deg, #01FF98 3.12%, #6FFBA0 49.48%, #01FF98 100%);
    transform: scale(1.1);
    filter: brightness(1.1);
   
}