/*-------------------- Page3 !!------------------------*/

#Page3 {
    padding: 550px 0px;
    width: 100%;
    height: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(180deg, #0AD19F, #34E39F, #01FF98, #6FFBA0, #01FF3900);
}

.bus-2 {
    display: flex;
    position: relative;
    /*width: 1181px;
    height: 983px;*/
    margin-top: -35rem;
    height: 983px;
}

.text-3Dview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10rem;
    position: absolute;
    right: 0;
    top: 2550px;
}

.sub-title3D  {
    color:rgba(2, 2, 115, 0.8);
    font-size: 50px;
    /*margin-left: -40rem;*/
    margin-top: -8rem;
}

.text-explain1 {
    color: rgba(2, 2, 115, 0.6);
    margin-top: 3rem;
    /*margin-left: -30rem;*/
    font-size: 32px;
}

.text-explain2 {
    color: rgba(2, 2, 115, 0.6);
    margin-top: 3rem;
    /*margin-left: -30rem;*/
    font-size: 32px;
}

.button-open3D {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*transform: translateX(-25rem);*/
}

.button-open3D a {
    font-size: 30px;
    text-decoration: none;
}

.text-open {
    color:rgba(2, 2, 115, 0.8);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 45px;
    border: 2px solid #0AD19F;
    background: rgba(1, 255, 57, 0.02);
    box-shadow: 0px 0px 10px 0px #01FF98;  
}

.text-open i {
    margin: 5px 5px;
    font-size: 22px;
    transform: translateY(-4px);
}

.text-open:hover {
    background: linear-gradient(180deg, #01FF98 3.12%, #6FFBA0 49.48%, #01FF98 100%);
    transform: scale(1.1);
    filter: brightness(1.1);  
}

/* @media only screen and (max-width: 600px){
    #Page3{
        display: flex;
        flex-direction: column;
    }

    .bus-2 {
        display: flex;
        width: 500px;
        height: 450px;
        margin-top: -20rem;
    }

    .text-3Dview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: -22rem;
        margin-top: 20rem;
    }

    .sub-title3D  {
        color:rgba(2, 2, 115, 0.8);
        font-size: 29px;
        margin-left: -32rem;
        margin-top: -50rem;
    }

    .text-explain1 {
        color: rgba(2, 2, 115, 0.6);
        margin-top: 2rem;
        margin-left: -28.5rem;
        font-size: 15px;
    }

    .text-explain2 {
        color: rgba(2, 2, 115, 0.6);
        margin-top: 2rem;
        margin-left: -28.5rem;
        font-size: 15px;
    }
    
    .button-open3D {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateX(-27rem);
    }
    
    .button-open3D a {
        font-size: 15px;
        text-decoration: none;
    }
    
    .text-open {
        color:rgba(2, 2, 115, 0.8);
        text-decoration: none;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 45px;
        border: 2px solid #0AD19F;
        background: rgba(1, 255, 57, 0.02);
        box-shadow: 0px 0px 10px 0px #01FF98;  
    }
    
    .text-open i {
        margin: 2.5px 2.5px;
        font-size: 11px;
        transform: translateY(-2px);
    }
    
    .text-open:hover {
        background: linear-gradient(180deg, #01FF98 3.12%, #6FFBA0 49.48%, #01FF98 100%);
        transform: scale(1.1);
        filter: brightness(1.1);  
    }
    
    
}*/
@media only screen and (max-width: 1440px){
    #Page3{
        display: flex;
        flex-direction: row;
        height: 1200px;
    }
    .bus-2{
        height: 500px;
        left: 0;
    }
    .text-3Dview{
    top: 2750px;
    margin: 0;
    display: flex;
    left: 20%;
    right: 20%;
    }
    .sub-title3D{
        font-size: 35px;
    }
    .text-explain1,.text-explain2{
        font-size: 25px;
    }
}
@media only screen and (max-width:940px) {
    .text-3Dview{
        top: 3600px;
    }
}